:root {
  /* Colors */
  --clr-blue-700: hsl(217, 19%, 35%);
  --clr-blue-400: hsl(214, 17%, 51%);
  --clr-blue-200: hsl(212, 23%, 69%);
  --clr-blue-100: hsl(210, 46%, 95%);

  /* Font */
  --ff-manrope: "Manrope", sans-serif;

  --fw-small: 500;
  --fw-large: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
}

img {
  display: block;
  max-width: 100%;
}

.hidden {
  display: none;
}
