:root {
  /* Colors */
  --clr-grey-700: hsl(217, 19%, 35%);
  --clr-grey-400: hsl(214, 17%, 51%);
  --clr-grey-200: hsl(212, 23%, 69%);
  --clr-grey-100: hsl(210, 46%, 95%);

  /* Font */
  --ff-manrope: "Manrope", sans-serif;

  --fw-small: 500;
  --fw-large: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-grey-100);
  color: var(--clr-grey-400);
  font-size: 1.3rem;
  font-family: var(--ff-manrope);
  font-weight: var(--fw-small);
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  margin-inline: auto;
  max-width: 80rem;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: var(--clr-grey-700);
  padding: 2rem 3rem;
  border-radius: 1rem;
  position: absolute;
  top: 30%;
  right: -9%;

  display: flex;
  align-items: center;
  gap: 1.5rem;
  z-index: 1;
}

.popup::after {
  content: "";
  width: 15%;
  height: 50%;
  position: absolute;
  top: 90%;
  left: 50%;
  background-color: inherit;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}

.popup p {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: var(--fw-large);
}

.hidden {
  display: none;
}

.card {
  max-width: 70rem;
  display: flex;
  position: relative;
}

.card__img-box {
  border-radius: 1rem 0 0 1rem;
  overflow: hidden;
}

.card__content {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0 1rem 1rem 0;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__heading,
.author {
  color: var(--clr-grey-700);
  font-weight: var(--fw-large);
}

.card__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__author-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.author-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.share {
  margin-left: auto;
  width: 4rem;
  height: 100%;
  background-color: var(--clr-grey-100);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.share-active {
  background-color: var(--clr-grey-400);
}

.share-icon-active {
  filter: brightness(100);
}

@media screen and (max-width: 767px) {
  .card {
    flex-direction: column;
    max-width: 50rem;
    margin-inline: 2rem;
  }
}
